{% extends 'base.html' %}


{% block menu %}

    <li><a href="{% url 'task_add' %}">Add task</a></li>
    <li><a href="{% url 'task_update' task.id %}"> Update task </a></li>
    <li><a href="{% url 'task_delete' task.id %}">Delete task</a></li>

{% endblock menu %}
{% block title %}{{ task.title }}{% endblock %}



<{% block content %}

<div class="container">
    <h1>Task:</h1>
    <h2>{{ task.title }}</h2>
    <p>{{ task.status }}</p>
    {% if task.date %}
        <p>By: {{ task.date }}</p>
    {% else %}
        <p>Дата не указана</p>
    {% endif %}
    {% if task.add_info %}
        <p>Add info: {{ task.add_info }}</p>
    {% else %}
        <p>доп инфа не указана</p>
    {% endif %}
</div>
{% endblock %}

