{% extends "base.html" %}
{% block title %}Create task{% endblock %}

{% block content %}
    <div>
        <h1>Create Task</h1>
        <form method="post" action="{% url "task_add" %}">
            {% include "partial/form.html" with button_text="Create" %}
{#            {% csrf_token %}#}
{#            <label>Title:</label><br/>#}
{#            <input type="text" name="title"/><br/>#}
{#            <label>Status:</label><br/>#}
{#            <select name="status">#}
{#                {% for key, label in status %}#}
{#                <option value="{{ key }}">{{ label }}</option>#}
{#                {% endfor %}#}
{#            </select><br/>#}
{#            <label>Date(YYYY-mm-dd):</label><br/>#}
{#            <input type="text" name="date"/><br/>#}
{#            <label>Add info:</label><br/>#}
{#            <input type="text" name="add_info"/><br/>#}
{#            <input type="submit" value="Send"/>#}
        </form>
    </div>
{% endblock %}

